altair
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
contourpy
cycler
deap==1.4.3
fonttools
gitdb
GitPython
h2
hpack
hyperframe
idna
importlib_metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
llvmlite==0.44.0
MarkupSafe
matplotlib==3.10.3
munkres==1.1.4
narwhals
numba
numpy
packaging
pandas
pillow
protobuf
pyarrow==20.0.0
pycparser
pydeck
pyparsing
PySide6==6.9.1
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scikit-learn
scipy
shap
shiboken6==6.9.1
six
slicer
smmap
stopit==1.1.2
streamlit
streamlit-lottie==0.0.5
tenacity
threadpoolctl
toml
tornado
TPOT==0.12.2
tqdm
typing_extensions
tzdata
unicodedata2
update-checker==0.18.0
urllib3
watchdog
win_inet_pton
xgboost
zipp
zstandard==0.23.0
streamlit>=1.32
pandas>=2.2
numpy>=2.2
scikit-learn>=1.4
matplotlib>=3.8
xgboost>=2.0
tpot==0.12.2
shap>=0.44
